.tool-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
}

.tool-item-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

.tool-item-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tool-item-description {
    margin-bottom: 20px;
}

.tool-item-rental-price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tool-item-rental-history {
    font-size: 20px;
    margin-bottom: 20px;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.form-container label {
    margin-right: 0.5rem;
}

.form-container select {
    margin-left: 0.5rem;
}

.form-container button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0069d9;
}

.tool-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.tool-details div {
    margin-bottom: 10px;
}

.tool-details label {
    margin-right: 10px;
}

.tool-details select {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.tool-details button {
    margin-top: 20px;
    padding: 10px;
    background-color: #0066cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tool-details button:hover {
    background-color: #0052a3;
}